# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Cobertura de pruebas
coverage/

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json